body {
    margin: 0;
    font-family: 'Verdana', serif !important;
    font-size: 0.7rem !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0b5ed7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.root{
    background: #0d6efd;
}